/* MAIN 
=============================================*/

.main{
    width: 100%;
    margin: 0;
    float: none;
    padding-top: 30px;
}

.main__card-body {
    img {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .main {
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        float: left;
        width: 75vw;
    }
    
    .main__card {
        cursor: pointer;
    }
    
    .main__card-body {
        img {
            width: 100%;
            height: 450px;
        }
    
        p {
            padding: 5px 10px;
        }
    }    
}

